@import "../../styles/variables.scss";

.show {
	&__title {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: 19px;
	}
	&__info {
		width: 70%;
		&-row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 10px;
			margin-bottom: 30px;
			&-title {
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
			}
			&-content {
				background-color: $white-color;
				border: 1px solid #d3e7fb;
				border-radius: 5px;
				padding: 13px 20px;
				width: 60%;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
			}
		}
	}
}
